<div class="col-md-12">
	<span class="h2"> Hashtag Factor Comparison </span>	<span class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" data-content="This is a <em>parallel co-ordinate</em> plot of the averaged social factors of each hashtag observed in the <em>sample window</em>, based on the locations a hashtag is observed being tweeting. Each line represents a hashtag, with its position on each scale representing its own value for that factor. "></span>
	<br/><br/>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="graph-container">
				<svg id="parallel" xmlns='http://www.w3.org/2000/svg' width='100%' height='400px'>
				</svg>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3> <small>Visualisation Information </small></h3>
			<div class="row">
				<div class="col-md-4">
					<strong>How to use </strong><span class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="top" data-content="<strong><em>Click and drag</em></strong> on a scale to highlight only lines passing through that window (you can do this on multiple lines at once), and click elsewhere on the scale to clear a window. <br/> <strong><em>Hover</em></strong> over a line to get more information about that hashtag.<br/><strong><em>Change</em></strong> the displayed sample window using the button below.<br/>
					<strong><em>Hover</em></strong> over the factors in the table below for the units and full names of each factor."></span>
					<br/><br/>
					<strong>Current Timestamp</strong>: <%= @timestamp[:human_readable] %>
					<br/><br/>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Available Sample Windows <span class="caret"></span>
						</button>

						<ul class="dropdown-menu" role="menu" style="max-height: 110px; overflow-y:auto; width:100%;">
							<% @timestamp_list.reverse.each do |timestamp_sing| %>
								<li>
									<a href="<%= root_url %>parallel/hashtags?timestamp=<%= timestamp_sing[:url]%>">
										<span  <% if @timestamp[:human_readable] == timestamp_sing[:human_readable] %>
												class="text-muted"
											<% end %>>
										<%= timestamp_sing[:human_readable] %>
										</span>
									</a>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6">
							<strong>Highlighted Hashtags</strong>  <span id="para-hash" class="scroll-notif"></span>
							<div class="scroll-table" style="overflow-y:auto; max-height:150px;">
								<table class="table table-condensed high-tab" id="para-hash" >

								</table>
							</div>
						</div>
						<div class="col-md-6">
							<table class="table table-condensed">
								<tr>
									<td colspan="2"><strong>Selected Hashtags</strong></td>
									<td id="para-hash" class="tab-name" colspan="2">&nbsp;</td>
								</tr>
								<tr>
									<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[0][:factor_name]%></em><br/><%=@factor_info[0][:measure]%>">Crime Rate</td>
									<td id="para-hash" class="tab-cr">&nbsp;</td>
									<td  data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[1][:factor_name]%></em><br/><%=@factor_info[1][:measure]%>">House Price</td>
									<td id="para-hash" class="tab-hp">&nbsp;</td>
								</tr>
								<tr>
									<td  data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[2][:factor_name]%></em><br/><%=@factor_info[2][:measure]%>">GCSE Score</td>
									<td id="para-hash" class="tab-gs">&nbsp;</td>
									<td  data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[3][:factor_name]%></em><br/><%=@factor_info[3][:measure]%>">Trans. Rating</td>
									<td id="para-hash" class="tab-tr">&nbsp;</td>
								</tr>
								<tr>
									<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[4][:factor_name]%></em><br/><%=@factor_info[4][:measure]%>">School Abs.</td>
									<td id="para-hash" class="tab-sa">&nbsp;</td>
									<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[5][:factor_name]%></em><br/><%=@factor_info[5][:measure]%>">Income Supp.</td>
									<td id="para-hash" class="tab-is">&nbsp;</td>
								</tr>
								<tr>
									<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[6][:factor_name]%></em><br/><%=@factor_info[6][:measure]%>">Unempl. Rate</td>
									<td id="para-hash" class="tab-ur">&nbsp;</td>
									<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[7][:factor_name]%></em><br/><%=@factor_info[7][:measure]%>">DCOWF</td>
									<td id="para-hash" class="tab-dc">&nbsp;</td>
								</tr>
								<tr>
									<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[8][:factor_name]%></em><br/><%=@factor_info[8][:measure]%>">Delib. Fires</td>
									<td id="para-hash" class="tab-df">&nbsp;</td>
									<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[9][:factor_name]%></em><br/><%=@factor_info[9][:measure]%>">Incap. Benef.</td>
									<td id="para-hash" class="tab-ib">&nbsp;</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
		
	</div>
</div>
