<div class="col-md-8">
	<h2>Device Breakdown</h2>
	<div class="graph-container">
	</div>
</div>
<div class="col-md-4">
	<h3> <small>Visualisation Information </small></h3> 
	<br />
		<strong>Current Borough</strong>: <%= @boro_name %>
	<br/>
	<strong>Current Timestamp</strong>: <%= @timestamp[:human_readable] %>
	<br/><br/>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Available Sample Windows <span class="caret"></span>
		</button>

		<ul class="dropdown-menu" role="menu" style="max-height: 300px; overflow-y:auto; width:100%;">
			<% @timestamp_list.reverse.each do |timestamp_sing| %>
				<li>
					<a href="<%= root_url %>donut/boro_devices?timestamp=<%= timestamp_sing[:url]%>">
						<span  <% if @timestamp[:human_readable] == timestamp_sing[:human_readable] %>
								class="text-muted"
							<% end %>>
						<%= timestamp_sing[:human_readable] %>
						</span>
					</a>
				</li>
			<% end %>
		</ul>
	</div>
	<br />
	<br />
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Available Areas <span class="caret"></span>
		</button>

		<ul class="dropdown-menu" role="menu" style="height: 300px; overflow-y:auto;">
			<% @boro_list.each do |boro| %>
				<li>
					<a href="<%= root_url %>donut/boro_devices?code=<%= boro['code']%>&timestamp=<%= @timestamp[:url] %>">
						<span  <% if @boro_code == boro['code'] %>
								class="text-muted"
							<% end %>>
						<%= boro['name'] %>
						</span>
					</a>
				</li>
			<% end %>
		</ul>
	</div>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-8">
			<em>Hover over a donut segment to get information</em>
			<table class='table table-condensed'>
				<tr>
					<td>Device</td>
					<td id="info-device">&nbsp;</td>
				</tr>
				<tr>
					<td>Percentage</td>
					<td id="info-split">&nbsp;</td>
				</tr>
			</table>
		</div>
	</div>
</div>