<div class="col-md-8">
	<h2> One-Factor Map Comparison </h2>	
	<div class="map-container">

	</div>
</div>
<div class="col-md-4 legend-box">
	<div class="row">
		<div class="col-md-12">
			<h3> <small>Visualisation Options</small></h3>
			
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				Choose factor to color on <span class="caret"></span>
				</button>

				<ul class="dropdown-menu" role="menu">
					<%  @factor_info.each do |factor| %>
						<li>
							<a href="<%= root_url %>street_map/one_factor?factor=<%=factor[:factor_id]%>">
								<span  <% if factor[:factor_id].to_i == @primary_factor %>
										class="text-muted"
									<% end %>>
								<%= factor[:factor_name] %>
								</span>
							</a>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3> <small>Visualisation Information </small></h3>
			<strong>Selected factor</strong>: <%= @factor_info[@primary_factor][:factor_name]%>
			<br/>
			<strong>Description</strong>: <%= @factor_info[@primary_factor][:measure]%>

			<div class="row">
				<div class="col-md-8">
					<table class="table table-condensed">
						<tr>
							<th>Value</th>
							<th>&nbsp;</th>
						</tr>
						<% @rank_values.sort_by{|k, v| k}.each do | rank, val | %>
							<tr>
								<td><%if @primary_factor == 1 then %>
											<%=number_to_currency(val, unit: "£")%>
										<%else%>
											<%=val%>
										<%end%>
								</td>
								<td class="rank-<%=rank%>">&nbsp;</td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-condensed">
						<tr>
							<td>Crime Rate</td>
							<td id="map-tab-cr">&nbsp;</td>
							<td>House Price</td>
							<td id="map-tab-hp">&nbsp;</td>
						</tr>
						<tr>
							<td>GCSE Score</td>
							<td id="map-tab-gs">&nbsp;</td>
							<td>Trans. Rating</td>
							<td id="map-tab-tr">&nbsp;</td>
						</tr>
						<tr>
							<td>School Abs.</td>
							<td id="map-tab-sa">&nbsp;</td>
							<td>Income Supp.</td>
							<td id="map-tab-is">&nbsp;</td>
						</tr>
						<tr>
							<td>Unempl. Rate</td>
							<td id="map-tab-ur">&nbsp;</td>
							<td>DCOWF</td>
							<td id="map-tab-dc">&nbsp;</td>
						</tr>
						<tr>
							<td>Delib. Fires</td>
							<td id="map-tab-df">&nbsp;</td>
							<td>Incap. Benef.</td>
							<td id="map-tab-ib">&nbsp;</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

	</div>
	
	
</div>

