<div class="col-md-8">
	<span class="h2"> Social Factor Map </span> <span class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" data-content="This is a map coloured based on how each borough is ranked for a given <em>social factor</em>. <br/>A range of years and social factors are accessible in the sidebar. Hover over a borough to get more information, or scroll on the map to zoom."></span>	
	<div class="map-container">

	</div>
</div>
<div class="col-md-4 legend-box">
	<div class="row">
		<div class="col-md-12">
			<h3> <small>Visualisation Options</small></h3>
			
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				Choose factor to color on <span class="caret"></span>
				</button>

				<ul class="dropdown-menu" role="menu">
					<%  @factor_info.each do |factor| %>
						<li>
							<a href="<%= root_url %>street_map/one_factor?factor=<%=factor[:factor_id]%>&year=<%=@year%>">
								<span  <% if factor[:factor_id].to_i == @primary_factor %>
										class="text-muted"
									<% end %>>
								<%= factor[:factor_name] %>
								</span>
							</a>
						</li>
					<% end %>
				</ul>
			</div>
			<br/><br/>
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				Choose dataset year <span class="caret"></span>
				</button>

				<ul class="dropdown-menu" role="menu">
					<%  for year in [2008, 2009, 2010, 2011, 2012] %>
						<li>
							<a href="<%= root_url %>street_map/one_factor?factor=<%=@primary_factor%>&year=<%=year%>">
								<span  <% if year == @year %>
										class="text-muted"
									<% end %>>
								<%= year %>
								</span>
							</a>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3> <small>Visualisation Information </small></h3>
			<strong>Selected factor</strong>: <%= @factor_info[@primary_factor][:factor_name]%>
			<br/>
			<strong>Description</strong>: <%= @factor_info[@primary_factor][:measure]%>
			<br/><br/>
			<div class="row">
				<div class="col-md-8">
					<table class="table table-condensed">
						<tr>
							<th>Ranking Group</th>
							<th>&nbsp;</th>
						</tr>
						<% @rank_values.sort_by{|k, v| k}.each do | rank, val | %>
							<tr>
								<td><%if @primary_factor == 1 then %>
											<%=number_to_currency(val, unit: "£")%>
										<%else%>
											<%=val%>
										<%end%>
								</td>
								<td class="rank-<%=rank%>">&nbsp;</td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<strong>Highlighted Borough Information </strong><span class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" data-content="Hover over a factor name for more information about that factor"></span>	
					<table class="table table-condensed">
						<tr>
							<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[0][:factor_name]%></em><br/><%=@factor_info[0][:measure]%>"><abbr>Crime Rate</abbr></td>
							<td id="map-tab-cr">&nbsp;</td>
							<td  data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[1][:factor_name]%></em><br/><%=@factor_info[1][:measure]%>"><abbr>House Price</abbr></td>
							<td id="map-tab-hp">&nbsp;</td>
						</tr>
						<tr>
							<td  data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[2][:factor_name]%></em><br/><%=@factor_info[2][:measure]%>"><abbr>GCSE Score</abbr></td>
							<td id="map-tab-gs">&nbsp;</td>
							<td  data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[3][:factor_name]%></em><br/><%=@factor_info[3][:measure]%>"><abbr>Trans. Rating</abbr></td>
							<td id="map-tab-tr">&nbsp;</td>
						</tr>
						<tr>
							<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[4][:factor_name]%></em><br/><%=@factor_info[4][:measure]%>"><abbr>School Abs.</abbr></td>
							<td id="map-tab-sa">&nbsp;</td>
							<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[5][:factor_name]%></em><br/><%=@factor_info[5][:measure]%>"><abbr>Income Supp.</abbr></td>
							<td id="map-tab-is">&nbsp;</td>
						</tr>
						<tr>
							<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[6][:factor_name]%></em><br/><%=@factor_info[6][:measure]%>"><abbr>Unempl. Rate</abbr></td>
							<td id="map-tab-ur">&nbsp;</td>
							<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[7][:factor_name]%></em><br/><%=@factor_info[7][:measure]%>"><abbr>DCOWF</abbr></td>
							<td id="map-tab-dc">&nbsp;</td>
						</tr>
						<tr>
							<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[8][:factor_name]%></em><br/><%=@factor_info[8][:measure]%>"><abbr>Delib. Fires</abbr></td>
							<td id="map-tab-df">&nbsp;</td>
							<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="<em><%=@factor_info[9][:factor_name]%></em><br/><%=@factor_info[9][:measure]%>"><abbr>Incap. Benef.</abbr></td>
							<td id="map-tab-ib">&nbsp;</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

	</div>
	
	
</div>

