<div class="col-md-8">
	<span class="h2"> Hashtag Associated Words </span>	<span class="glyphicon glyphicon-info-sign" data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" data-content="This is a plot of all observed associated words for a given hashtag. Each bubble is a word, sized based on frequency."></span>
	<div class="graph-container">
		<!-- <svg id="parallel" xmlns='http://www.w3.org/2000/svg' width='100%' height='680px'>
		</svg> -->
	</div>
</div>
<div class="col-md-4">
	<h3> <small>Visualisation Information </small></h3> 
	<strong>Current Hashtag</strong>: <%= @hashtag %>
	<br/>
	<strong>Current Timestamp</strong>: <%= @timestamp[:human_readable] %>
	<br/><br/>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Available Sample Windows <span class="caret"></span>
		</button>

		<ul class="dropdown-menu" role="menu" style="max-height: 300px; overflow-y:auto; width:100%;">
			<% @timestamp_list.reverse.each do |timestamp_sing| %>
				<li>
					<a href="<%= root_url %>matrix/hashtag?timestamp=<%= timestamp_sing[:url]%>">
						<span  <% if @timestamp[:human_readable] == timestamp_sing[:human_readable] %>
								class="text-muted"
							<% end %>>
						<%= timestamp_sing[:human_readable] %>
						</span>
					</a>
				</li>
			<% end %>
		</ul>
	</div>
	<br />
	<br />
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Available Hashtags <span class="caret"></span>
		</button>

		<ul class="dropdown-menu" role="menu" style="max-height: 300px; overflow-y:auto;">
			<% @hashtag_list.sort.each do |hashtag_sing| %>
				<li>
					<a href="<%= root_url %>matrix/hashtag?tag=<%= hashtag_sing%>&timestamp=<%= @timestamp[:url] %>">
						<span  <% if @hashtag == hashtag_sing %>
								class="text-muted"
							<% end %>>
						<%= hashtag_sing %>
						</span>
					</a>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="btn-group">
		<a href="<%= root_url %>rawdata/hashtag_assoc?tag=<%=@hashtag%>&timestamp=<%= @timestamp[:url] %>"role="button" class="btn btn-default">
			Go to raw data
		</a>
	</div>
	<br/>
	<div class="checkbox">
		<label>
			<input type="checkbox" onclick='window.location.replace("<%=root_url%>matrix/hashtag?tag=<%=@hashtag%>&timestamp=<%=@timestamp[:url]%>&full_scale=<%= @full_scale == true ? 'false' : 'true' %>")' <%= @full_scale ? "checked='true'" : ""%>> Full-Width Scale?
		</label>
	</div>
	<em>Hover over a bubble to see stats below</em>
	<br/><br/>
	<div class="row">
		<div class="col-md-8">
			<table class="table table-condensed" id="info-table">
				<tr>
					<th></th>
					<th>Value</th>
				</tr>
				<tr>	
					<td>Word</td>
					<td id="info-word"></td>
				</tr>
				<tr>	
					<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="This ranges from 1 (passive) to 3 (active)."><abbr>Activation</abbr></td>
					<td id="info-activ"></td>
				</tr>
				<tr>	
					<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="This ranges from 1 (unpleasant) to 3 (pleasant)."><abbr>Pleasantness</abbr></td>
					<td id="info-pleas"></td>
				</tr>
				<tr>	
					<td data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="This ranges from 1 (hard to form a mental picture) to 3 (easy to form a mental picture)."><abbr>Imagery</abbr></td>
					<td id="info-image"></td>
				</tr>
				<tr>	
					<td>Frequency</td>
					<td id="info-freq"></td>
				</tr>

			</table>

	

			<table class='table table-condensed key'>
				<tr>
					<th>Key</td>
					<td></td>
				</tr>
				<tr>
					<td class="key-name" data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="Words appearing in <em>Dictionary of Affective Language</em>"><abbr>DAL</abbr></td>
					<td class='key-color' id="type-1-key">&nbsp;</td>
				</tr>
				<tr>
					<td class="key-name">Adjective</td>
					<td class='key-color' id="type-2-key">&nbsp;</td>
				</tr>
				<tr>
					<td class="key-name">Verb</td>
					<td class='key-color' id="type-3-key">&nbsp;</td>
				</tr>
				<tr>
					<td class="key-name">Noun</td>
					<td class='key-color' id="type-4-key">&nbsp;</td>
				</tr>
				<tr>
					<td class="key-name" data-container="body" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="left" data-content="Occurance of user defined categories"><abbr>Category</abbr></td>
					<td class='key-color' id="type-5-key">&nbsp;</td>
				</tr>
			</table>
		</div>

	</div>
</div>

</div>

