<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SocialCity Visualisation Dashboard</title>
	<link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
	<%= include_gon %>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top" id="top-nav" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			<a class="navbar-brand" href="http://github.com/SocialCity">SocialCity</a>
			</div>
		</div>
	</div>

	<div class="container-fluid full-height">
		<div class="row fill-height">
			<div class="col-sm-2 col-md-2 sidebar">
				<ul class="nav nav-stacked">
				  	<li class="active"><a href="">Home</a></li>
				  	<li>
				  		<a href="<%=root_url%>street_map">Map</a>

				  	</li>
				  	<li>
				  		<a href="<%=root_url%>parallel">Parallel</a>
				  	</li>

				  	<li class="dropdown dropdown-stack">
				  		<!-- <a href="<%=root_url%>matrix">Matrix Visualisation</a> -->
							<a id="dLabel" role="button" class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="<%=root_url%>matrix">
							Related Words <span class="caret"></span>
							</a>
							<ul class="dropdown-menu dropdown-stack" role="menu" aria-labelledby="dLabel">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="<%=root_url%>matrix/hashtag">Hashtag</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="<%=root_url%>matrix/area">Borough</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="<%=root_url%>matrix/device">Device</a></li>
							</ul>
				  	</li>

				  	<li>
				  		<a href="<%=root_url%>donut">Device Breakdown</a>
				  	</li>

				  	<li class="dropdown dropdown-stack">
				  		<!-- <a href="<%=root_url%>matrix">Matrix Visualisation</a> -->
							<a id="dLabel" role="button" class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="<%=root_url%>matrix">
							Aggregate Sentiment <span class="caret"></span>
							</a>
							<ul class="dropdown-menu dropdown-stack" role="menu" aria-labelledby="dLabel">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="<%=root_url%>matrix/aggr_hashtag">Hashtag</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="<%=root_url%>matrix/area">Borough</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="<%=root_url%>matrix/device">Device</a></li>
							</ul>
				  	</li>
				</ul>
			</div>	

			<div class="col-md-10 col-md-offset-2 main <%= controller.controller_name %>">
				<div class="row">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<!-- <li><%= link_to "One Factor", street_map_one_factor_path %></li>
							<li><%= link_to "Two Factors", street_map_two_factor_path %></li> -->